Source: cloudfusion
Maintainer: Johannes Müller <quirksquarks@web.de>
Section: python
Priority: optional
Homepage: https://github.com/joe42/mangafuse
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.8.4
XS-Python-Version: current

Package: python-cloudfusion
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-nose, python-oauth, python-simplejson, libfuse-dev, fuse-utils, python-setuptools
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: manga file system for accessing online reader
	mangafuse lets you access your mangas from an online reader like any file on your desktop.

